* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.square {
  aspect-ratio: 1 / 1;
  flex: auto;
}

#grid {
  flex-direction: column;
}

#replace-grid {
  max-width: fit-content;
  margin: auto;
  display: block;
}